# ===== DATABASE =====
DATABASE_URL="postgresql://bimbeluser:bimbelpass@localhost:5432/bimbel_alruumi"
# Untuk connection pooling (aktifkan saat production):
# DIRECT_DATABASE_URL="postgresql://bimbeluser:bimbelpass@localhost:5432/bimbel_alruumi"

# ===== AUTH =====
NEXTAUTH_URL="http://localhost:3000"
# Generate secret: openssl rand -base64 32
NEXTAUTH_SECRET="ganti-dengan-random-string-minimal-32-karakter"
AUTH_SECRET="ganti-dengan-random-string-minimal-32-karakter"

# ===== APLIKASI =====
NODE_ENV="development"
LOG_LEVEL="info"

# ===== STORAGE =====
STORAGE_PROVIDER="local"
UPLOAD_DIR="./public/uploads"

# ===== WHATSAPP =====
NEXT_PUBLIC_WA_NUMBER="6281234567890"
